[Unit]
Description=Mastrbot
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /usr/src/mastrbot/mastrbot.py /usr/src/mastrbot/dictionary.txt > /var/log/mastrbot.log 2>&1

[Install]
WantedBy=multi-user.target
